{% extends 'base.html' %}
{% load static  %}
{% block title %}
<title>sample</title>
{% endblock title %}
{% block body_block %}
    <h1>Welcome to sample page</h1>
    {{fruit_name}}
    {% if fruit_name %}
        <ol>
        {% for fruit in fruit_name  %}
        <li>{{fruit}}</li>
        {% endfor %}
        </ol>
        {% else %}
        <h2>No fruits</h2>
    {% endif %}
    <img src="{% static 'images/dj.png' %}" alt= "no image found" width="100" height="60"> 
    <a href="{% url 'app:demo2' %}">sample2 <a/>
{% endblock %}
